.navigationElement {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.navigation {
    display: grid;
    justify-content: center;
    justify-items: center;
    width: auto;
}

.divSelected {
    border-bottom: 2px solid #5ECE7B;
}

.elementSelected {
    color: #5ECE7B;
}

.category {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}