.productCard {
  padding-bottom: 5px;
  border:2px solid #fff;
}

.productCard:hover {
  box-shadow: 7px 7px 5px #ccc;
}

.productCardNoStock {
  padding-bottom: 5px;
  border:2px solid #fff;
  filter: opacity(50%);
}

.productImg {
  width: 354px;
  height: 338px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.brandName {
  font-weight: 300;
}

.amount {
  font-weight: bold;
}

.show {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}